body{
  font-family:MicrosoftYaHei;
  background:#f3f6f5;
}
.bg{
  width: 100%;
  height: 160px;
  line-height: 160px;
  background-image: url('../images/bg2.png');
  overflow: hidden;
  font-size:28px;
  color:#ffffff;
  text-align:center;
}
/*顶部面板导航*/
.top-title{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
.top-title .first{
  font-size:14px;
  color:#999999;
}
.top-title .last{
  font-size:14px;
  color:#178c5b;
}

/*主题内容开始*/
.ketiinfo-cont{
  position: relative;
  padding-top: 20px;
}
/*左侧内容*/
.current{
  color: #178c5b !important;
}
.ketiinfo-cont .left{
  position: absolute;
  top: 20px;
  left: 0;
  width: 120px;
}
.ketiinfo-cont .left dl{
  font-size:16px;
  color:#444444;
  text-align:left;
  margin-bottom: 12px;
}
.ketiinfo-cont .left dd a{
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height: 1;
  padding-bottom: 12px;
  display: block;
}
.ketiinfo-cont .left dd a:hover{
  cursor: pointer;
  color: #178c5b;
}
/*右侧内容*/
.ketiinfo-cont .right{
  margin-left: 120px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  height: 700px;
}
/*顶部搜索*/
.ketiinfo-cont .right .top-search{
  height: 62px;
  box-sizing: border-box;
  border-bottom: 2px solid #178c5b;
}
.ketiinfo-cont .right .l-wenda{
  font-size:14px;
  padding-left: 10px;
  line-height: 1;  
  color:#666666;
  text-align:left;
  border-left: 2px solid #178c5b;
  margin-top: 30px;
  float: left;
}
/*搜索*/
.ketiinfo-cont .right .r-search{
  float: right;
  margin-top: 20px;
  overflow: hidden;
}
.ketiinfo-cont .right .r-search input{
  width: 166px;
  height: 28px;
  float: left;
  font-size: 12px;
  padding-left: 10px;
  border:1px solid #ebebeb;
}
.ketiinfo-cont .right .r-search input::-webkit-input-placeholder{  
  font-size:12px;
  color:#cbcbcb;
  letter-spacing:0;
  text-align:left;
}
.ketiinfo-cont .right .r-search .btn{
  width: 38px;
  height: 28px;
  line-height: 28px;
  background-color: #777;
  float: left;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/*添加删除*/
.ketiinfo-cont .right .state{
  height: 30px;
  float: right;
  margin-top: 20px;
}
.ketiinfo-cont .right .state img{
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
}










/*表格*/
.ketiinfo-cont .right .table-info{
  margin-top: 10px;
}
.ketiinfo-cont .right table{
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #eaeaeb;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}
.ketiinfo-cont .right table th{
  font-size:12px;
  height: 34px;
  color:#484848;
  text-align:left;
  font-weight: normal;
  background:#f5f5f5;
  border-top:1px solid #eaeaeb;
  border-bottom:1px solid #eaeaeb;
  padding-left: 16px;
  
}
.ketiinfo-cont .right table td{  
  font-size:12px;
  color:#707070;
  text-align:left;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px
}
.ketiinfo-cont .right table tr input{

}
.ketiinfo-cont .right table td span{
  cursor: pointer;
}

.ketiinfo-cont .right table td span.cz{
  float: right;
} 
.ketiinfo-cont .right table tr:nth-child(odd){
  background-color: #f7f7f7;
}























/*分页按钮*/
/*分页按钮组公共样式*/
 .pagebtn{
  width: 100%;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
  padding: 30px  0;
  overflow: hidden;
}
 .pagebtn .rr{
  float: right;
  margin-right: 10px;
}

 .pagebtn .arrbox{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:48px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#178c5b;
  text-align:center;
}
 .pagebtn .btnbox{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:30px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#178c5b;
  text-align:center;
}
 .pagebtn .total{
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
}
 .pagebtn .next{
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
}
 .pagebtn input{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:48px;
  height:30px;  
  margin-right: 10px;    
}
 .pagebtn .btn{
  background:#178c5b;
  border-radius:2px;
  width:54px;
  height:32px;
  line-height: 32px;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#ffffff;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}



/*添加弹出框*/
 .zixun{
  background:#fbfbfb;
  border-radius:4px;
  display: none;
  border-radius:4px;
}
.zixun form{
  margin-bottom: 20px;
}
 .zixun label{
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#444444;
  vertical-align: middle;
  margin-top: 50px;
}
 .zixun .xian{
  background:#dddddd;
  width:498px;
  height:1px;
}
 .zixun .btngroup{
  height: 50px;
  line-height: 50px;
}
 .zixun .btngroup span{
  padding:  8px 0;
  padding-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}
 .zixun .btngroup span.f{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#777777;
  text-align:center;
  border-right: 1px solid #eaeaea;
}
 .zixun .btngroup span.s{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#178c5b;
  text-align:center;
}
 .zixun .title{
  font-family:MicrosoftYaHei;
  font-size:16px;
  color:#ffffff;
  text-align:center;
  background:#178c5b;
  width:498px;
  height:50px;
  line-height: 50px;
}
 .zixun select{ 
  border-radius:2px;  
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  background:#ffffff;
  border:1px solid #ebebeb;
  border-radius:2px;
  width:356px;
  height:40px;
  margin-left: 10px;
}
 .zixun label{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#444444;
  text-align:left;
  margin-left: 30px;
 }
.zixun input.xm{
  background:#ffffff;
  border:1px solid #ebebeb;
  border-radius:2px;
  width:356px;
  height:40px;
  margin-left: 52px;
}
.zixun input.guanxi{
  margin-top: 25px;
}
.zixun label.guanxi{

}
 .zixun input::-webkit-input-placeholder{
  color: #c3c3cb;
}
 
 .zixun .xuantian{
  background:#ffffff;
  border:1px solid #ebebeb;
  border-radius:2px;
  width:596px;
  height:128px;
  resize: none;
  margin: 0 auto;
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
}

/*弹出基本信息弹框*/
.t-base-info{
      width: 960px;
      height: 530px;      
      font-family:MicrosoftYaHei;
      display: none;
    }
    .t-base-info .xian{
      background:#dddddd;
      width:960px;
      height:1px;
      margin-top: 30px;
    }
    .t-base-info .title{
      font-size:16px;
      line-height: 50px;
      color:#ffffff;
      text-align:center;
      background:#178c5b;
      width:960px;
      height:50px;
      margin-bottom: 30px;
    }
    .t-base-info .form-item{
      margin-bottom: 15px;
    }
    .t-base-info .form-item label{
      font-size:14px;
      color:#444444;
      text-align:left;
      margin-left: 30px;
      width: 56px;
      display: inline-block;
    }
    .t-base-info .form-item input{
      background:#ffffff;
      border:1px solid #ebebeb;
      border-radius:2px;
      width:372px;
      height:40px;
    }
    .t-base-info .form-item input.xueke{
      background:#ffffff;
      border:1px solid #ebebeb;
      border-radius:2px;
      width:840px;
      height:40px;
    }
    .t-base-info .form-item input.shuoming{
      background:#ffffff;
      border:1px solid #ebebeb;
      border-radius:2px;
      width:840px;
      height:82px;
    }
    .t-base-info .btngroup{
      height: 50px;
      line-height: 50px;
    }
    .t-base-info .btngroup span{
      padding:  8px 0;
      padding-right: 50px;
      margin-left: 50px;
      cursor: pointer;
    }
    .t-base-info .btngroup span.f{
      font-family:MicrosoftYaHei;
      font-size:14px;
      color:#777777;
      text-align:center;
      border-right: 1px solid #eaeaea;
    }
    .t-base-info .btngroup span.s{
      font-family:MicrosoftYaHei;
      font-size:14px;
      color:#178c5b;
      text-align:center;
    }