body{
  font-family:MicrosoftYaHei;
  background:#f3f6f5;
}
.bg{
  width: 100%;
  height: 160px;
  line-height: 160px;
  background-image: url('../images/bg2.png');
  overflow: hidden;
  font-size:28px;
  color:#ffffff;
  text-align:center;
}
/*顶部面板导航*/
.top-title{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
.top-title .first{
  font-size:14px;
  color:#999999;
}
.top-title .last{
  font-size:14px;
  color:#178c5b;
}
/*主题内容开始*/
.train-cont{
  position: relative;
  padding-top: 20px;
}
/*左侧内容*/
.current{
  color: #178c5b !important;
}
.train-cont .left{
  position: absolute;
  top: 20px;
  left: 0;
  width: 120px;
}
.train-cont .left dl{
  font-size:16px;
  color:#444444;
  text-align:left;
  margin-bottom: 12px;
}
.train-cont .left dd a{
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height: 1;
  padding-bottom: 12px;
  display: block;
}
.train-cont .left dd a:hover{
  cursor: pointer;
  color: #178c5b;
}
/*右侧内容*/
.train-cont .right{
  margin-left: 120px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  height: 800px;
}
/*tab切换*/
.train-cont .right .tab{
  width: 100%;
  box-sizing: border-box;
  padding-top: 25px;
  height: 60px;
  border-bottom: 2px solid #178c5b;
}
.train-cont .right .tab ul{
  overflow: hidden;
}
.train-cont .right .tab li{
  float: left;
  cursor: pointer;
  margin-right: 20px;
  font-size:14px;
  color:#666666;
  text-align:left;
  border-bottom: 1px solid transparent;
}
.train-cont .right .tab li:hover{
  border-bottom: 1px solid #178c5b;
}
.train-cont .right .tab li span{
  background:#f85c32;
  border-radius:53px;
  font-size:12px;
  color:#ffffff;
  text-align:center;
  margin-left: 5px;
  padding: 0 5px;
}
/*表格样式*/
.train-cont .right .table-info{
  margin-top: 10px;
}
.train-cont .right table{
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #eaeaeb;
  border-right: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}
.train-cont .right table th{
  font-size:12px;
  height: 34px;
  color:#484848;
  text-align:left;
  font-weight: normal;
  background:#f5f5f5;
  border-top:1px solid #eaeaeb;
  border-bottom:1px solid #eaeaeb;
  padding-left: 16px;
  
}
.train-cont .right table td{  
  font-size:12px;
  color:#707070;
  text-align:left;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px
}
.train-cont .right table td span.cz{
  float: right;
} 
.train-cont .right table tr:nth-child(odd){
  background-color: #f7f7f7;
}













/*分页按钮*/
/*分页按钮组公共样式*/
 .pagebtn{
  width: 100%;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
  padding: 30px  0;
  overflow: hidden;
}
 .pagebtn .rr{
  float: right;
  margin-right: 10px;
}

 .pagebtn .arrbox{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:48px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#178c5b;
  text-align:center;
}
 .pagebtn .btnbox{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:30px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#178c5b;
  text-align:center;
}
 .pagebtn .total{
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
}
 .pagebtn .next{
  display: inline-block;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#777777;
}
 .pagebtn input{
  background:#ffffff;
  border:1px solid #dfe6ea;
  border-radius:2px;
  width:48px;
  height:30px;  
  margin-right: 10px;    
}
 .pagebtn .btn{
  background:#178c5b;
  border-radius:2px;
  width:54px;
  height:32px;
  line-height: 32px;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#ffffff;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}