/*头部二级背景*/
.bg{
  width: 100%;
  height: 160px;
  background-image: url('../images/bg2.png');
  overflow: hidden;
}
.bg .bg-search{
  background:#f2f8fc;
  border-radius:4px;
  width:746px;
  height:60px;
  margin-top: 50px;
}
.bg .bg-search input{
  width: 681px;
  height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  font-family: MicrosoftYaHei;
  font-size: 18px;
  color: #9d9d9d;
  border-right: 3px solid #b2b2b2;
  float: left;
  background-color: #f2f8fc;
}
.bg .bg-search .right{
  width: 65px;
  height: 60px;
  background-color: #f2f8fc;
  float: right;
  background: url(../images/Shape.png) no-repeat center;
}
/*头部二级背景结束*/


/*顶部面板导航*/
.top-title{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
.top-title .first{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#999999;
}

.top-title .last{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#178c5b;
}
/*左侧内容*/
.platforminfo{
  overflow: hidden;
}
.platforminfo .left-box{
  float: left;
  margin-top: 10px;
}
.platforminfo .left-box .topinfo{
  width: 250px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;  
  box-sizing: border-box;    
  /*background-color: #f9f9f9;
  color: #444;*/
}
.platforminfo .left-box .jianjie{
  width: 250px;
  background-color: #f9f9f9;
  margin-top: 10px;
  box-sizing: border-box;
}
.platforminfo .left-box .jianjie .xuanzhong{
  background-color: #178c5b;
  color: #fff;
}
.platforminfo .left-box .jianjie li{
  border-bottom: 1px solid #eee;
}
.platforminfo .left-box .jianjie li a{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color: #444;
  display: block;
  height: 39px;
  padding-left: 20px;
  line-height: 39px;
}
.platforminfo .left-box .jianjie li ul li a:hover{
  color:#178c5b;
}
.platforminfo .left-box .jianjie li ul li{
  border:none;
}




/*右侧内容*/
.platforminfo .right-box{
  width: 870px;
  float: left;
  margin-left: 40px;
  margin-top: 28px;
}
/*公共导航*/
.platforminfo .right-box .top-nav{
  overflow: hidden;
}
.platforminfo .right-box .top-nav .left-border{
  background:#178c5b;
  width:2px;
  height:20px;
  float: left;
}
.platforminfo .right-box .top-nav span{
  float: left;
  font-family:MicrosoftYaHei;
  font-size:20px;
  color:#5e5e5e;
  line-height: 1;
  margin-left: 9px;
}
.platforminfo .right-box .top-nav .right-border{
  background:#9b9b9b;
  width:700px;
  height:1px;
  float: right;
  margin-top: 12px;
}
/*文字内容*/
.platforminfo .right-box .content-p p{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#5e5e5e;
  line-height:26px;  
  margin-bottom: 40px;
  text-indent: 2em;
}
/*平台管理*/
.platforminfo .right-box .ptgl p{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#5e5e5e;
  line-height:26px;
  margin-bottom: 58px;
  text-indent: 2em;
}
/*发展*/
.platforminfo .right-box .fazhan p{
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#5e5e5e;
  line-height:26px;
  margin-bottom: 50px;
  text-indent: 2em;
}