.middle .up{
  width: 100%;
  height: 100px;
  background-color: #F8FBFA;
}

.middle .down{
  width: 100%;
  height: 620px;
  background-color: #F3F6F5;
}

.middle .up .navigation{
  height: 100px;
}

.middle .down .information{
  height: 620px;
}
.middle .down .information label{
  margin-left: 398px;
  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#9b9b9b;
}

.middle .down .information .name input{
  margin-top: 30px;
  margin-left: 6px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
}

.middle .down .information .password input{
  margin-top: 20px;
  margin-left: 6px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
}

.middle .down .information .submit{
  width:58px;
  height:32px;
  margin-left: 476px;
  margin-top: 30px;
  background:#178c5b;
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
}



/*字体图标*/
.icon {
   width: 24px; 
   height: 24px;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   margin-top: 25px;
   color: red;
}

.middle .up .navigation .tishi{
  width: 800px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.middle .up .navigation .tishi span{
  display: block;
  margin-top: 8px;
}
.middle .up .navigation .tishi .item{
  width: 90px;
  height: 100%;
  text-align: center;
  float: left;
  
  padding-top: 25px;
  box-sizing: border-box;
}
.middle .up .navigation .tishi .line{
  background:#999999;
  width:150px;
  height:1px;
  float: left;
  margin-top: 38px;
  margin-left: -20px;
}